# Exercise 4.8

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# creating path
path = r'C:\Users\jeffr\Documents\Instacart Basket Analysis'

In [7]:
# importing ords_prods_merge dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge2.pkl'))

In [8]:
# creating subset of first one million entries
df = ords_prods_merge[:1000000]

In [9]:
df.shape

(1000000, 24)

In [10]:
df.head(10)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,...,product_name,aisle_id,department_id,prices,match,price_range_loc,prices_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,Soda,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders
1,0,0,2539329,1,prior,1,2,8,NaN,14084,...,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders
2,0,0,2539329,1,prior,1,2,8,NaN,12427,...,Original Beef Jerky,23,19,4.4,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders
3,0,0,2539329,1,prior,1,2,8,NaN,26088,...,Aged White Cheddar Popcorn,23,19,4.7,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders
4,0,0,2539329,1,prior,1,2,8,NaN,26405,...,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders
5,1,1,2398795,1,prior,2,3,7,15.0,196,...,Soda,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Slowest Days,Average Orders
6,1,1,2398795,1,prior,2,3,7,15.0,10258,...,Pistachios,117,19,3.0,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders
7,1,1,2398795,1,prior,2,3,7,15.0,12427,...,Original Beef Jerky,23,19,4.4,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders
8,1,1,2398795,1,prior,2,3,7,15.0,13176,...,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,NaN,Regularly busy,Slowest Days,Average Orders
9,1,1,2398795,1,prior,2,3,7,15.0,26088,...,Aged White Cheddar Popcorn,23,19,4.7,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders

In [11]:
df.groupby('product_name')

In [12]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [13]:
df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [14]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

In [15]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\jeffr\AppData\Local\Temp\ipykernel_42816\1681540670.py:1: FutureWarning: The provided callable <function max at 0x000001CA307E04A0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [16]:
ords_prods_merge.head(15)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,...,aisle_id,department_id,prices,match,price_range_loc,prices_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders,10
1,0,0,2539329,1,prior,1,2,8,NaN,14084,...,91,16,12.5,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders,10
2,0,0,2539329,1,prior,1,2,8,NaN,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
3,0,0,2539329,1,prior,1,2,8,NaN,26088,...,23,19,4.7,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
4,0,0,2539329,1,prior,1,2,8,NaN,26405,...,54,17,1.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
5,1,1,2398795,1,prior,2,3,7,15.0,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Slowest Days,Average Orders,10
6,1,1,2398795,1,prior,2,3,7,15.0,10258,...,117,19,3.0,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders,10
7,1,1,2398795,1,prior,2,3,7,15.0,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders,10
8,1,1,2398795,1,prior,2,3,7,15.0,13176,...,24,4,10.3,both,Mid-range product,NaN,Regularly busy,Slowest Days,Average Orders,10
9,1,1,2398795,1,prior,2,3,7,15.0,26088,...,23,19,4.7,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders,10
10,1,1,2398795,1,prior,2,3,7,15.0,13032,...,121,14,4.0,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders,10
11,2,2,473747,1,prior,3,3,12,21.0,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Slowest Days,Most Orders,10
12,2,2,473747,1,prior,3,3,12,21.0,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,10
13,2,2,473747,1,prior,3,3,12,21.0,10258,...,117,19,3.0,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,10
14,2,2,473747,1,prior,3,3,12,21.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Regularly busy,Slowest Days,Most Orders,10

In [17]:
ords_prods_merge.head(100)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,...,aisle_id,department_id,prices,match,price_range_loc,prices_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders,10
1,0,0,2539329,1,prior,1,2,8,NaN,14084,...,91,16,12.5,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders,10
2,0,0,2539329,1,prior,1,2,8,NaN,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
3,0,0,2539329,1,prior,1,2,8,NaN,26088,...,23,19,4.7,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
4,0,0,2539329,1,prior,1,2,8,NaN,26405,...,54,17,1.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,14,14,738281,2,prior,4,2,10,8.0,21150,...,38,1,5.9,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
96,15,15,1673511,2,prior,5,3,11,8.0,47144,...,91,16,14.0,both,Mid-range product,NaN,Regularly busy,Slowest Days,Most Orders,14
97,15,15,1673511,2,prior,5,3,11,8.0,5322,...,3,19,2.9,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,14
98,15,15,1673511,2,prior,5,3,11,8.0,17224,...,3,19,1.6,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,14
99,15,15,1673511,2,prior,5,3,11,8.0,38656,...,3,19,3.4,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,14

In [18]:
pd.options.display.max_rows = None

In [19]:
ords_prods_merge.head(100)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,...,aisle_id,department_id,prices,match,price_range_loc,prices_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,0,0,2539329,1,prior,1,2,8,NaN,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders,10
1,0,0,2539329,1,prior,1,2,8,NaN,14084,...,91,16,12.5,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders,10
2,0,0,2539329,1,prior,1,2,8,NaN,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
3,0,0,2539329,1,prior,1,2,8,NaN,26088,...,23,19,4.7,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
4,0,0,2539329,1,prior,1,2,8,NaN,26405,...,54,17,1.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
5,1,1,2398795,1,prior,2,3,7,15.0,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Slowest Days,Average Orders,10
6,1,1,2398795,1,prior,2,3,7,15.0,10258,...,117,19,3.0,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders,10
7,1,1,2398795,1,prior,2,3,7,15.0,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders,10
8,1,1,2398795,1,prior,2,3,7,15.0,13176,...,24,4,10.3,both,Mid-range product,NaN,Regularly busy,Slowest Days,Average Orders,10
9,1,1,2398795,1,prior,2,3,7,15.0,26088,...,23,19,4.7,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders,10
10,1,1,2398795,1,prior,2,3,7,15.0,13032,...,121,14,4.0,both,NaN,Low-range product,Regularly busy,Slowest Days,Average Orders,10
11,2,2,473747,1,prior,3,3,12,21.0,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Slowest Days,Most Orders,10
12,2,2,473747,1,prior,3,3,12,21.0,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,10
13,2,2,473747,1,prior,3,3,12,21.0,10258,...,117,19,3.0,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,10
14,2,2,473747,1,prior,3,3,12,21.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Regularly busy,Slowest Days,Most Orders,10
15,2,2,473747,1,prior,3,3,12,21.0,30450,...,88,13,3.2,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,10
16,3,3,2254736,1,prior,4,4,7,29.0,196,...,77,7,9.0,both,Mid-range product,NaN,Least busy,Slowest Days,Average Orders,10
17,3,3,2254736,1,prior,4,4,7,29.0,12427,...,23,19,4.4,both,NaN,Low-range product,Least busy,Slowest Days,Average Orders,10
18,3,3,2254736,1,prior,4,4,7,29.0,10258,...,117,19,3.0,both,NaN,Low-range product,Least busy,Slowest Days,Average Orders,10
19,3,3,2254736,1,prior,4,4,7,29.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Least busy,Slowest Days,Average Orders,10
20,3,3,2254736,1,prior,4,4,7,29.0,26405,...,54,17,1.0,both,NaN,Low-range product,Least busy,Slowest Days,Average Orders,10
21,4,4,431534,1,prior,5,4,15,28.0,196,...,77,7,9.0,both,Mid-range product,NaN,Least busy,Slowest Days,Most Orders,10
22,4,4,431534,1,prior,5,4,15,28.0,12427,...,23,19,4.4,both,NaN,Low-range product,Least busy,Slowest Days,Most Orders,10
23,4,4,431534,1,prior,5,4,15,28.0,10258,...,117,19,3.0,both,NaN,Low-range product,Least busy,Slowest Days,Most Orders,10
24,4,4,431534,1,prior,5,4,15,28.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Least busy,Slowest Days,Most Orders,10
25,4,4,431534,1,prior,5,4,15,28.0,10326,...,24,4,2.7,both,NaN,Low-range product,Least busy,Slowest Days,Most Orders,10
26,4,4,431534,1,prior,5,4,15,28.0,17122,...,24,4,14.0,both,Mid-range product,NaN,Least busy,Slowest Days,Most Orders,10
27,4,4,431534,1,prior,5,4,15,28.0,41787,...,24,4,5.0,both,NaN,Low-range product,Least busy,Slowest Days,Most Orders,10
28,4,4,431534,1,prior,5,4,15,28.0,13176,...,24,4,10.3,both,Mid-range product,NaN,Least busy,Slowest Days,Most Orders,10
29,5,5,3367565,1,prior,6,2,7,19.0,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders,10
30,5,5,3367565,1,prior,6,2,7,19.0,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
31,5,5,3367565,1,prior,6,2,7,19.0,10258,...,117,19,3.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Average Orders,10
32,5,5,3367565,1,prior,6,2,7,19.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Average Orders,10
33,6,6,550135,1,prior,7,1,9,20.0,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,10
34,6,6,550135,1,prior,7,1,9,20.0,10258,...,117,19,3.0,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
35,6,6,550135,1,prior,7,1,9,20.0,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
36,6,6,550135,1,prior,7,1,9,20.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,10
37,6,6,550135,1,prior,7,1,9,20.0,13032,...,121,14,4.0,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
38,7,7,3108588,1,prior,8,1,14,14.0,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
39,7,7,3108588,1,prior,8,1,14,14.0,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,10
40,7,7,3108588,1,prior,8,1,14,14.0,10258,...,117,19,3.0,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
41,7,7,3108588,1,prior,8,1,14,14.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,10
42,7,7,3108588,1,prior,8,1,14,14.0,46149,...,77,7,13.4,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,10
43,7,7,3108588,1,prior,8,1,14,14.0,49235,...,53,16,1.8,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
44,8,8,2295261,1,prior,9,1,16,0.0,49235,...,53,16,1.8,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
45,8,8,2295261,1,prior,9,1,16,0.0,46149,...,77,7,13.4,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,10
46,8,8,2295261,1,prior,9,1,16,0.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,10
47,8,8,2295261,1,prior,9,1,16,0.0,196,...,77,7,9.0,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,10
48,8,8,2295261,1,prior,9,1,16,0.0,10258,...,117,19,3.0,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
49,8,8,2295261,1,prior,9,1,16,0.0,12427,...,23,19,4.4,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,10
50,9,9,2550362,1,prior,10,4,8,30.0,196,...,77,7,9.0,both,Mid-range product,NaN,Least busy,Slowest Days,Average Orders,10
51,9,9,2550362,1,prior,10,4,8,30.0,46149,...,77,7,13.4,both,Mid-range product,NaN,Least busy,Slowest Days,Average Orders,10
52,9,9,2550362,1,prior,10,4,8,30.0,39657,...,45,19,6.8,both,Mid-range product,NaN,Least busy,Slowest Days,Average Orders,10
53,9,9,2550362,1,prior,10,4,8,30.0,38928,...,120,16,12.6,both,Mid-range product,NaN,Least busy,Slowest Days,Average Orders,10
54,9,9,2550362,1,prior,10,4,8,30.0,25133,...,21,16,8.6,both,Mid-range product,NaN,Least busy,Slowest Days,Average Orders,10
55,9,9,2550362,1,prior,10,4,8,30.0,10258,...,117,19,3.0,both,NaN,Low-range product,Least busy,Slowest Days,Average Orders,10
56,9,9,2550362,1,prior,10,4,8,30.0,35951,...,91,16,1.3,both,NaN,Low-range product,Least busy,Slowest Days,Average Orders,10
57,9,9,2550362,1,prior,10,4,8,30.0,13032,...,121,14,4.0,both,NaN,Low-range product,Least busy,Slowest Days,Average Orders,10
58,9,9,2550362,1,prior,10,4,8,30.0,12427,...,23,19,4.4,both,NaN,Low-range product,Least busy,Slowest Days,Average Orders,10
59,11,11,2168274,2,prior,1,2,11,NaN,32792,...,23,19,5.2,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
60,11,11,2168274,2,prior,1,2,11,NaN,47766,...,24,4,6.3,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
61,11,11,2168274,2,prior,1,2,11,NaN,20574,...,96,20,2.3,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
62,11,11,2168274,2,prior,1,2,11,NaN,12000,...,72,13,10.9,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
63,11,11,2168274,2,prior,1,2,11,NaN,48110,...,78,19,2.7,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
64,11,11,2168274,2,prior,1,2,11,NaN,22474,...,78,19,4.1,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
65,11,11,2168274,2,prior,1,2,11,NaN,16589,...,107,19,5.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
66,11,11,2168274,2,prior,1,2,11,NaN,35917,...,98,7,9.4,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
67,11,11,2168274,2,prior,1,2,11,NaN,27344,...,96,20,14.8,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
68,11,11,2168274,2,prior,1,2,11,NaN,30489,...,67,20,7.5,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
69,11,11,2168274,2,prior,1,2,11,NaN,27966,...,123,4,4.4,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
70,11,11,2168274,2,prior,1,2,11,NaN,13176,...,24,4,10.3,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
71,11,11,2168274,2,prior,1,2,11,NaN,45066,...,24,4,2.5,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
72,12,12,1501582,2,prior,2,5,10,10.0,16797,...,24,4,1.3,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
73,12,12,1501582,2,prior,2,5,10,10.0,47526,...,21,16,2.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
74,12,12,1501582,2,prior,2,5,10,10.0,8479,...,78,19,3.5,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
75,12,12,1501582,2,prior,2,5,10,10.0,47766,...,24,4,6.3,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
76,12,12,1501582,2,prior,2,5,10,10.0,19051,...,107,19,3.9,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
77,12,12,1501582,2,prior,2,5,10,10.0,8138,...,67,20,2.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
78,13,13,1901567,2,prior,3,1,10,3.0,47766,...,24,4,6.3,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,14
79,13,13,1901567,2,prior,3,1,10,3.0,32792,...,23,19,5.2,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,14
80,13,13,1901567,2,prior,3,1,10,3.0,20574,...,96,20,2.3,both,NaN,Low-range product,Regularly busy,Busiest Days,Most Orders,14
81,13,13,1901567,2,prior,3,1,10,3.0,7781,...,21,16,6.6,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,14
82,13,13,1901567,2,prior,3,1,10,3.0,28874,...,1,20,6.2,both,Mid-range product,NaN,Regularly busy,Busiest Days,Most Orders,14
83,14,14,738281,2,prior,4,2,10,8.0,49451,...,67,20,7.1,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
84,14,14,738281,2,prior,4,2,10,8.0,32792,...,23,19,5.2,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
85,14,14,738281,2,prior,4,2,10,8.0,32139,...,67,20,7.5,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
86,14,14,738281,2,prior,4,2,10,8.0,34688,...,31,7,5.8,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
87,14,14,738281,2,prior,4,2,10,8.0,36735,...,96,20,8.9,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
88,14,14,738281,2,prior,4,2,10,8.0,37646,...,24,4,9.1,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
89,14,14,738281,2,prior,4,2,10,8.0,22829,...,78,19,5.5,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
90,14,14,738281,2,prior,4,2,10,8.0,24852,...,24,4,12.3,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
91,14,14,738281,2,prior,4,2,10,8.0,47209,...,24,4,4.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
92,14,14,738281,2,prior,4,2,10,8.0,33276,...,67,20,10.8,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
93,14,14,738281,2,prior,4,2,10,8.0,45613,...,38,1,12.6,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
94,14,14,738281,2,prior,4,2,10,8.0,9681,...,38,1,2.0,both,NaN,Low-range product,Regularly busy,Regularly Busy,Most Orders,14
95,14,14,738281,2,prior,4,2,10,8.0,21150,...,38,1,5.9,both,Mid-range product,NaN,Regularly busy,Regularly Busy,Most Orders,14
96,15,15,1673511,2,prior,5,3,11,8.0,47144,...,91,16,14.0,both,Mid-range product,NaN,Regularly busy,Slowest Days,Most Orders,14
97,15,15,1673511,2,prior,5,3,11,8.0,5322,...,3,19,2.9,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,14
98,15,15,1673511,2,prior,5,3,11,8.0,17224,...,3,19,1.6,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,14
99,15,15,1673511,2,prior,5,3,11,8.0,38656,...,3,19,3.4,both,NaN,Low-range product,Regularly busy,Slowest Days,Most Orders,14

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [22]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [23]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [25]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1